{% extends 'base.html' %}

{% block conteudo %}

<h1>Operações Geometricas</h1>
<!-- Passo 2: Verifica se possui mensagens enviadas pelo app -->
<!-- Passo 3: Definir with_categories=true caso queira ter acesso as categorias -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    <!-- Passo 4: Percorrer a lista de mensagens -->
    {% for category, message in messages %}
    <!-- Passo 5: Criar um card filho -->
    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="calculos">

    <div class="card_operacao">
        <h2>Área do Triangulo</h2>
        <form class="form-somar" action="{{ url_for('Triangulo') }}" method="post">
            <label>
                <input placeholder="Digite a Base do Triangulo" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>

            <label>
                <input placeholder="Digite a Altura do Triangulo" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Triangulo is defined %}
                {{ n1 }} * {{ n2 }} / 2 = {{ Triangulo }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular Triangulo</button>
        </form>
        <div class="accordion" id="accordionExample1">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                        <h4>Calcular Area do Triangulo</h4>
                        <p>Para calcular a área de um triângulo equilátero, eleve a medida do lado ao quadrado,
                            multiplique o resultado por 1,73 (raiz de 3) e divida tudo por 4.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Área do Circulo</h2>
        <form class="form-somar" action="{{ url_for('Circulo') }}" method="post">
            <label>
                <input placeholder="Digite um número" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>

            <label>
                <input placeholder="Digite um número" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Circulo is defined %}
                {{ n1 * n1 }} * 3.14 = {{ Circulo }}
                {% else %}
                {% endif %}
            </p>
            <button type="submit" class="btn btn-info">Calcular Circulo</button>

        </form>
        <div class="accordion" id="accordionExample2">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        <h4>Calcular Area do Circulo</h4>
                        <p>Para calcular a área do círculo, eleve o raio ao quadrado e multiplique o resultado por 3,14.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Área do Quadrado</h2>
        <form class="form-somar" action="{{ url_for('Quadrado') }}" method="post">
            <label>
                <input placeholder="Digite o lado do Quadrado" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>

            <label>
                <input placeholder="Digite lado do Quadrado" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Quadrado is defined %}
                {{ n1 }} * {{ n2 }} = {{ Quadrado }}
                {% else %}
                {% endif %}
            </p>
            <button type="submit" class="btn btn-info">Calcular Quadrado</button>
        </form>
        <div class="accordion" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <h4>Calcular Area do Quadrado</h4>
                        <p>Multiplique o lado por ele mesmo</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="card_operacao">
        <h2>Área do Hexagono</h2>
        <form class="form-somar" action="{{ url_for('Hexagono') }}" method="post">
            <label>
                <input placeholder="Digite a base" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>

            <label>
                <input placeholder="Digite a altura" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Hexagono is defined %}
                {{ n1 }} * {{ n2 }} / 2 * 6 = {{ Hexagono }}
                {% else %}
                {% endif %}
            </p>
            <button type="submit" class="btn btn-info">Calcular Hexagono</button>

        </form>
        <div class="accordion" id="accordionExample4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                        <h4>Calcular Area do Hexagono</h4>
                        <p>Para calcular a área do hexágono regular, eleve a medida do lado ao quadrado e multiplique o
                            resultado por 2,6.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="calculos">

    <div class="card_operacao">
        <h2>Perimetro do Triangulo</h2>
        <form class="form-somar" action="{{ url_for('TrianguloP') }}" method="post">
            <label>
                <input placeholder="Digite o lado do Triangulo" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>


            <p class="resultado">
                {% if TrianguloP is defined %}
                {{ n1 }} * 3 = {{ TrianguloP }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular Triangulo</button>
        </form>
        <div class="accordion" id="accordionExample5">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree5" class="accordion-collapse collapse" data-bs-parent="#accordionExample5">
                    <div class="accordion-body">
                        <h4>Calcular Perimetro do Triangulo</h4>
                        <p>Para calcular o perímetro do triângulo, basta somar a medida dos seus três lados.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Perimetro do Circulo</h2>
        <form class="form-somar" action="{{ url_for('Circulop') }}" method="post">
            <label>
                <input placeholder="Digite a Base do Triangulo" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>

            <label>
                <input placeholder="Digite a Altura do Triangulo" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Circulop is defined %}
                {{ n1 }} * 2 * 3.14 = {{ Circulop }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular Circulo</button>
        </form>
        <div class="accordion" id="accordionExample6">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree6" class="accordion-collapse collapse" data-bs-parent="#accordionExample6">
                    <div class="accordion-body">
                        <h4>Calcular Perimetro do Circulo</h4>
                        <p>Para calcular o perímetro do círculo, multiplique o raio por 6,28.
                            (Ou multiplique o diâmetro por 3,14).</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Perimetro do Quadrado</h2>
        <form class="form-somar" action="{{ url_for('Quadradop') }}" method="post">
            <label>
                <input placeholder="Digite o lado do quadrado" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>


            <p class="resultado">
                {% if Quadradop is defined %}
                {{ n1 }} * 4 = {{ Quadradop }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular Quadrado</button>
        </form>
        <div class="accordion" id="accordionExample7">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree7" class="accordion-collapse collapse" data-bs-parent="#accordionExample7">
                    <div class="accordion-body">
                        <h4>Calcular Perimetro do Quadrado</h4>
                        <p>Para calcular o perímetro do quadrado, multiplique o lado por 4.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Perimetro do Hexagono</h2>
        <form class="form-somar" action="{{ url_for('Hexagonop') }}" method="post">
            <label>
                <input placeholder="Digite o lado do hexagono" name="form-n1" class="form-control">
            </label>

            <p class="operador"></p>


            <p class="resultado">
                {% if Hexagonop is defined %}
                {{ n1 }} * 6 = {{ Hexagonop }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular Hexagono</button>
        </form>
        <div class="accordion" id="accordionExample8">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                        <i class="bi bi-info-circle"></i> Como Calcular?
                    </button>
                </h2>
                <div id="collapseThree8" class="accordion-collapse collapse" data-bs-parent="#accordionExample8">
                    <div class="accordion-body">
                        <h4>Calcular Perimetro do Hexagono</h4>
                        <p>Para calcular o perímetro do hexágono regular, multiplique o lado por 6.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
