{% extends 'base.html' %}

{% block conteudo %}

<div class="card_login">
    <h1>LOGIN</h1>

    <form id="form-login" class="card_login" action="{{url_for('login')}}" method="post">
        Email:
        <input id="input-email" type="text" placeholder="Digite o Email" name="form_email" class="form-control"><br>
        Senha:
        <input id="input-senha" type="password" placeholder="Digite a Senha" name="form_senha" class="form-control"
               required><br>
        <button type="submit" class="btn btn-info">Entrar</button>
        <br>
        <button class="btn btn-danger" onclick="limpaInputsLogin()">Cancelar</button>
        <br><br>

        <!-- botao para abrir o modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Criar Conta
        </button>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="card_login" action="{{ url_for('cadastro_funcionario') }}" method="post">
                        <div class="card_login">
                            <h1>CADASTRO</h1>

                            Nome:
                            <input id="input-nome" type="text" placeholder="Digite seu nome" name="form_nome"
                                   class="form-control"><br>
                            data de nascimeto:
                            <input id="input-nascimanto" type="date" placeholder="Digite a Senha" name="form_data" class="form-control"
                                   required><br>
                            CPF:
                            <input id="input-cpf" type="number" placeholder="Digite a Senha" name="form_cpf" class="form-control"
                                   required><br>
                            Email:
                            <input id="input-emaill" type="text" placeholder="Digite o Email" name="form_email"
                                   class="form-control"><br>
                            Senha:
                            <input id="input-senhaa" type="password" placeholder="Digite a Senha" name="form_senha"
                                   class="form-control"
                                   required><br>
                            cargo:
                            <input id="input-cargo" type="text" placeholder="Digite a Senha" name="form_cargo" class="form-control"
                                   required><br>
                            Salario:
                            <input id="input-salario" type="number" placeholder="Digite a Senha" name="form_salario"
                                   class="form-control"
                                   required><br>
                            <button type="submit" class="btn btn-info">Cadastrar</button>

                            <a class="btn btn-danger" onclick="limpaInputsCadastro()">Cancelar</a>
                            <br>
                            {% if session.Funcionario %}
                            {% else %}
                            <a href="/login">Login</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}